apiVersion: v1
kind: Service
metadata:
  name: janua-api
  namespace: janua
  labels:
    app: janua-api
spec:
  type: ClusterIP
  ports:
    - port: 4100
      targetPort: 4100
      protocol: TCP
      name: http
  selector:
    app: janua-api
